body {
	font-family: 'Raleway', sans-serif;
	color: #ab3939;
	background: url('../../img/teslas.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#heading {
	padding: 42px;
	background-color: #e8e8e8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

#page-title {
	
}

.content {
	font-size: 0.8em;
	color: #767676;
	background-color: #e8e8e8;
	padding: 20px;
	border-left: 10px solid #ab3939;
}

#sub {
	background-color: #e8e8e8;
	margin-top: 10px;
	padding: 5px 5px 5px 42px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 40%;
}