body {
	font-family: sans-serif;
	color: #ab3939;
  background: url('teslas.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#heading {
	padding: 42px;
	background: #e8e8e8;
}

#page-title {
  	
}

.content {
	font-size: 0.8em;
	color: #767676;
	background-color: #e8e8e8;
	padding: 20px;
	border-left: 10px solid #ab3939;
}
